#search {
    width: 100%;
    height: 400px;
    position: relative;
  }
  #background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.9;
  }
  
  #background::before {
    content: "";
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(4, 4, 4, 0.7)),
      url("https://d2v8elt324ukrb.cloudfront.net/static/new_template/media/Pimal2-1.2d5d237dbd32.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
  
  #search > #uppersection > #heading > h1 {
    color: white;
    position: absolute;
    width: 80%;
    top: 20%;
    margin-left: 10%;
    font-weight: 500;
  }
  #search > #uppersection > #heading > #h1second {
    top: 30%;
    opacity: 1;
  }
  #uppersection > #heading > h1 > span {
    text-decoration: line-through;
  }
  #lowersection {
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    margin-left: 10%;
    padding: 10px;
    justify-content: space-around;
    width: 75%;
  }
  
  #lowersection > #locationinput {
    border: 1px solid gray;
    display: flex;
    align-items: center;
  }
  #lowersection span {
    padding: 5px;
    color: gray;
  }
  #lowersection input {
    font-size: 22px;
    border: none;
    padding: 5px;
  }
  #lowersection > #checkindiv {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 20%;
  }
  #lowersection > #checkoutdiv {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 20%;
  }
  #lowersection > #guestdiv {
    border: 1px solid gray;
    width: 15%;
    align-items: center;
    font-size: 12px;
  }
  #lowersection > #guestdiv > input {
    width: 100%;
  }
  
  #lowersection > #submit {
    padding: 5px 15px;
    border: none;
    background-color: #1e87f0;
    color: white;
  }
  #crousle_section {
    margin-top: 30px;
  }
  
  .heading_top_destination {
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: -5px;
    font-weight: 100;
  }
  
  #explorecity_owned {
    width: 97%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 10;
  }
  
  #explorecity_owned > #explorecity_managed {
    height: 400px;
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px;
  }
  
  #explorecity_owned > #explorecity_grid {
    height: auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 10px;
  }
  
  #heading_explorecity_managed {
    width: 80%;
    margin: auto;
    line-height: 28px;
  }
  #heading_explorecity_managed > p {
    font-size: 20px;
    color: gray;
    text-align: center;
  }
  
  #fac_explorecity_managed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  
  #fac_explorecity_managed > div {
    text-align: center;
    color: #7b7b7a;
  }
  #fac_explorecity_managed > div > img {
    width: 20%;
  }
  
  #fac_explorecity_managed > div > p {
    line-height: 25px;
  }
  
  #explorecity_grid > div {
    padding: 20px;
    text-align: center;
    color: white;
  }
  #explorecity_grid > div > h3 {
    margin-bottom: -10px;
  }
  
  #opportunities {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
  
    margin-top: 50px;
  }
  
  #opportunities > .invest_opportunity {
    width: 45%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    padding: 10px;
  }
  #opportunities > .invest_opportunity > .invest_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #opportunities > .invest_opportunity > .invest_img > div {
    margin: 5px;
  }
  #opportunities > .invest_opportunity > .invest_img > div > img {
    width: 40%;
  }
  
  .invest_heading {
    margin: 30px;
    margin-top: 50px;
    font-size: 24px;
  }
  .invest_opportunity button {
    background-color: #1e87f0;
    color: white;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    margin: 20px;
  }
  
  #navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
  }
  #navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
  }

  #website-logo{
    font-size: 50px;
    border: 1px solid white;
    width: 18%;
    text-align: center;
    padding: 10px;
  }

  #nav-buttons {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    text-align: center;
    width: 20%;
  }
  #nav-buttons > button {
    font-size: 20px;
    padding: 15px;
    margin: 10px auto;
  }