#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 39, 38);
  color: white;
}

#website-logo {
  font-size: 40px;
  /* border: 1px solid white; */
  width: 18%;
  text-align: center;
  padding: 10px;
}

#nav-buttons {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid white; */
  text-align: center;
  width: 15%;
}

#nav-buttons > button {
  font-size: 25px;
  padding: 5px;
  margin: 10px auto;
  background-color: rgb(39, 39, 38);
  color: white;
  border: 0px;
}
#menu_btn {
  height: 35px;
  width: 50px;
  margin: auto;
}
#sigin_btn {
  height: 35px;
  width: 50px;
  margin: auto;
}

/* Nav menu */
/* Hamburger Menu */
/* body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	color: #444444;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
} */

a {
  text-decoration: none !important;
  color: white;

  transition: color 0.3s ease;
}

a:hover {
  color: #2ecc71;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 15px;
}

#menuToggle input {
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -20px;
  background: rgb(39, 39, 38);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  margin-left: 15px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}
